<footer>
  <p mt-6 text-sm text-slate>
    <span pr-1>Made by</span>
    <a border-b border-slate border-none hover:border-dashed href="https://www.qingyi1220.cn/" target="_blank">
      TsingYi
    </a>
    <span px-1>|</span>
    <span pr-1>Source</span>
    <a
      border-b
      border-slate
      border-none
      hover:border-dashed
      href="https://github.com/TsingYi1263/ChatGPT"
      target="_blank"
    >
      Github
    </a>
    <span px-1>|</span>
    <span pr-1>Update</span>
    <a
      border-b
      border-slate
      border-none
      hover:border-dashed
      href="https://jq.qq.com/?_wv=1027&k=iknnAvas"
      target="_blank"
    >
      QQ群
    </a>
    <span style="color:black" pr-1>(已更新)</span>
  </p>
</footer>
